<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist</title>
</head>
<body>
    <form action="add_song" method="post">
        <label for="name">Enter Song name: </label>
        <input type="text" name="name" id="">
        <br>
        <label for="artist">Enter Artist: </label>
        <input type="text" name="srtist" id="">
        <br>
        <label for="rls_date">Enter release date: </label>
        <input type="date" name="rls_date" id="">
        <br>
        <label for="cover_img">Select cover image</label>
        <input type="file">
        <br>

        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>
