<!DOCTYPE html>
<html lang="en">
<head>
    <script src="./js/add_song.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs</title>
</head>
<body>
    <form action="add_song" method="post">
        <label for="name">Enter Song name: </label>
        <input type="text" name="name" id="">
        <br>

        <label for="rls_date">Enter release date: </label>
        <input type="date" name="rls_date" id="">
        <br>
        <label for="cover_img">Select cover image</label>
        <input type="file" name="cover_img">
        <br>

        <select name="artists_list" multiple id="artists_list">
            <option value="">Select Artist</option>
        </select>
        <br>

        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>
